# DEBUG, INFO, WARNNING, ERROR
LOG_LEVEL=DEBUG

## Mobile app guotai ##############################################
GUOTAI_PACKAGE_NAME=guotai_app_name
GUOTAI_PASSWORD=your_guotai_app_password

## AI Provider #####################################################
# https://ai.google.dev/
# See gemini-processors-research/demo.py, Multi-model Agents Research with Google Search
GOOGLE_API_KEY=your-api-key
GEMINI_MODEL=gemini-2.5-pro
# Thinking mode: -1 for dynamic, 0 to disable, positive int for specific budget (128-32768)
GEMINI_THINKING_BUDGET=-1

# https://platform.deepseek.com/api_keys, ** Need PAID **
# See deepseek-api-with-search/demo.py, ** No Reason, Call API with Google Search **
DEEPSEEK_API_KEY=your-api-key

## Web Provider ####################################################
# See deepseek-web-reason-search, Reason with Web Search, Free no need paid.
# Browser https://chat.deepseek.com ->dev-tools: JSON.parse(localStorage.getItem("userToken")).value
DEEPSEEK_AUTH_TOKEN=your-auth-token


